covalent==0.202.0.post1
matplotlib==3.6.2
notebook==6.5.2
PennyLane==0.27.0
PennyLane-Lightning==0.27.0
pytorch-minimize @ git+https://github.com/gngdb/pytorch-minimize.git@7cd5e1ffa79d77ab90935b3d4bde4ac7387d49ba
scikit-learn==1.2.0
torch==1.13.1
